.controller {
	display: grid;
	grid-template-columns: 1fr 4fr;
	overflow-y: hidden;
	height: 100vh;
}
.actions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;

	&__next {
		height: 10rem;
		font-size: 1.3rem;
		&:active {
			background-color: orangered;
		}
	}

	button {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		border: none;
		background-color: #222;
		color: white;
		cursor: pointer;
		&:active {
			background-color: orangered;
		}
		font-family: "Sarabun", Inter, sans-serif;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		input {
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			border: none;
			font-family: "Sarabun", Inter, sans-serif;
		}
	}
}

.preview {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	height: 100vh;
	overflow-y: scroll;
	&__card {
		background-color: #222;
		padding: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
		&--index {
			font-size: 1rem;
			font-weight: normal;
			font-family: monospace;
			color: #666;
		}
		&--character {
			font-size: 2rem;
			font-weight: bold;
		}
		&--thai {
			font-size: 1.5rem;
			font-weight: normal;
		}
		&--english {
			font-size: 1.5rem;
			font-weight: normal;
		}
	}
	&__current {
		background-color: rgb(232, 232, 232);
		color: #222;
	}
	&__previous {
		opacity: 0.5;
		transition: opacity 0.1s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	&__next {
		opacity: 0.6;
		transition: opacity 0.1s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}
