.display {
	color: white;
	display: grid;
	grid-template-rows: 1.5fr 2fr;
	gap: 4rem;
	height: 100%;
	padding: 0 2rem;
	box-sizing: border-box;
	@media (max-width: 768px) {
		grid-template-rows: 1fr 2.5fr;
		padding: 0 1rem;
	}

	&__character {
		font-size: 4rem;
		font-weight: bold;
		align-self: flex-end;
		justify-self: center;

		@media (max-width: 768px) {
			align-self: flex-start;
			padding-top: 2rem;
		}
	}

	&__text {
		user-select: none;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&--thai {
			font-size: 3rem;
			font-weight: normal;
			line-height: 1.2;
		}
		&--english {
			line-height: 1;
			padding-bottom: 2rem;
			font-size: 2rem;
			font-weight: lighter;
		}
	}
}

.landscape {
	display: flex;
	flex-direction: column;

	justify-content: center;
	height: 100%;
	padding: 0 2rem;
	box-sizing: border-box;
	&__layout {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 4fr;
	}
	&__character {
		font-size: 2rem;
		font-weight: bold;
		min-width: 100px;
		text-align: right;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--thai {
			font-size: 1.5rem;
			font-weight: normal;
			line-height: 1.2;
			margin: 0;
		}
		&--english {
			font-size: 1.25rem;
			font-weight: lighter;
			margin: 0;
		}
	}
}

.next {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: orangered;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2rem;
}
